.mainBody {
  text-align: center;
  margin: 0 auto;
}


.espressoCup {
  height: 80px;
  width: 70px;
  border: solid 3px #000;
  margin: 5rem auto 0 auto;
  border-radius: 0 0 25px 25px;
  position: relative;
}

.espressoShot {
  height: 35px;
  width: 100%;
  position: fixed;
  background-color: brown;
  border-radius: 0 0 23px 23px;
  position: absolute;
  bottom: 0;
}


.demitasseCup {
  height: 80px;
  width: 80px;
  border: solid 3px #000;
  margin: 5rem auto 0 auto;
  border-radius: 0 0 25px 25px;
  position: relative;
}

.coffeeMugCup {
  height: 120px;
  width: 90px;
  border: solid 3px #000;
  margin: 5rem auto 0 auto;
  border-radius: 0 0 25px 25px;
  position: relative;
}